<ng-container *ngIf="">
  <form (click)="ngOnInit()">
    <div class="col-md-4">
      <label for="validationCustom01" class="form-label">First name</label>
      <input type="text" class="form-control" [value]="person.firstName" name="firstName">
  
    </div>
    <div class="col-md-4">
      <label for="validationCustom02" class="form-label">Last name</label>
      <input type="text" class="form-control" [value]="person.lastName" name="lastName">
  
    </div>
  
    <div class="col-md-4">
      <label for="validationCustom02" class="form-label">Email</label>
      <input type="text" class="form-control" [value]="person.email" name="email">
  
    </div>
  
    <div class="col-md-4">
      <label for="validationCustom02" class="form-label">Phone Number</label>
      <input type="text" class="form-control"  [value]="person.phone" name="phone">
  
    </div>
  
    <div class="col-md-6">
      <label for="validationCustom03" class="form-label">Country</label>
      <input type="text" class="form-control" [value]="person.country" name="country" >
  
    </div>
    <hr>
    <button type="submit" class="btn btn-primary" (click)="updatePerson()">Update</button>
  </form>


</ng-container>

