
<div class="dropdown open">
  <button
    class="btn btn-secondary dropdown-toggle"
    type="button"
    id="triggerId"
    data-bs-toggle="dropdown"
    aria-haspopup="true"
    aria-expanded="false"
  >

    <span class="bi bi-person-fill"></span> Person
  </button>
  <div class="dropdown-menu" aria-labelledby="triggerId">
    <button class="dropdown-item" routerLink= "/person" routerLinkActive="active">
      <span class="bi bi-person-fill-add"></span> New</button>
    <button class="dropdown-item" routerLink= "/personlist" routerLinkActive="active">
      <span class="bi bi-list"></span> List</button>

  </div>
</div>

