
<form (ngmodule)="details()">
  <div class="col-md-4">
    <label for="validationCustom01" class="form-label">First name</label>
    <input type="text" class="form-control" id="validationCustom01"  value="firstName" required ngModel="person.firstName" name="firstName" required disabled="disabled">

  </div>
  <div class="col-md-4">
    <label for="validationCustom02" class="form-label">Last name</label>
    <input type="text" class="form-control" id="validationCustom02" value="lastName" ngModel="person.lastName"  disabled="disabled">

  </div>

  <div class="col-md-4">
    <label for="validationCustom02" class="form-label">Email</label>
    <input type="text" class="form-control" id="validationCustom02" disabled="disabled" value="email" required ngModel="person.email" name="email" required email>

  </div>

  <div class="col-md-4">
    <label for="validationCustom02" class="form-label">Phone Number</label>
    <input type="text" class="form-control" id="validationCustom02" disabled="disabled" value="phone" required ngModel="person.phone" name="phone" required>

  </div>

  <div class="col-md-6">
    <label for="validationCustom03" class="form-label">Country</label>
    <input type="text" class="form-control" id="validationCustom03" disabled="disabled" required ngModel="person.country" name="country" >

  </div>
  <hr>
  <button type="submit" class="btn btn-primary" >Update</button>
</form>



  