<ng-container *ngIf="person">
  <div class="col-md-7">
    <div (ngSubmit)="ngOnInit()" >
      <div class="col-md-4">
        <label class="form-label">First name</label>
        <input type="text" class="form-control" [value]="person.firstName" name="firstName" disabled="disabled">
    
      </div>
      <div class="col-md-4">
        <label class="form-label">Last name</label>
        <input type="text" class="form-control" [value]="person.lastName" name="lastName" disabled="disabled">
    
      </div>
    
      <div class="col-md-4">
        <label class="form-label">Email</label>
        <input type="text" class="form-control" [value]="person.email" name="email" disabled="disabled">
    
      </div>
    
      <div class="col-md-4">
        <label class="form-label">Phone Number</label>
        <input type="text" class="form-control" [value]="person.phone" name="phone" disabled="disabled">
    
      </div>
    
      <div class="col-md-6">
        <label class="form-label">Country</label>
        <input type="text" class="form-control" [value]="person.country" name="country" disabled="disabled" >
      </div>
      <hr>
      <button class="btn btn-secondary" routerLink="/personlist">
        <span class="bi bi-arrow-left-circle-fill"></span> Back to list</button> 
    </div>
  </div>
</ng-container>




