
<form class="row g-3 needs-validation"  [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="col-md-4">
      <label class="form-label">First name</label>
      <input type="text" class="form-control" formControlName="firstName" >
      <div ngxErrors="firstName">
        <div ngxError="required">First name is required</div>
      </div>

    </div>
    <div class="col-md-4">
      <label class="form-label">Last name</label>
      <input type="text" class="form-control"  formControlName="lastName">
      <div ngxErrors="lastName">
        <div ngxError="required">Last name is required</div>
      </div>
  
    </div>
  
    <div class="col-md-4">
      <label class="form-label">Email</label>
      <input type="text" class="form-control" formControlName="email">
      <div ngxErrors="email">
        <div ngxError="required">Email is required</div>
        <div ngxError="email">Please enter a valid email</div>
      </div>
  
    </div>
  
    <div class="col-md-4">
      <label class="form-label">Phone Number</label>
      <input type="text" class="form-control" formControlName="phone">
      <div ngxErrors="phone">
        <div ngxError="required">Phone number is required</div>
      </div>
  
    </div>

    <div class="col-md-6">
        <label class="form-label">Country</label>
        <select  class="form-select" aria-label="Default select example" formControlName="country">
          <option *ngFor="let country of countries" [value]="country.name">{{ country.name }}</option>
        </select>
        <div ngxErrors="country">
            <div ngxError="required">Country is required</div>
          </div>
      </div>
  
    <div class="col-md-6">
      <div class="row row-cols-sm-auto">
        <div class="col-12">
          <div class="input-group">
            <input
              type="text"
              formControlName="dateOfBirth"
              class="form-control"
              name="d2"
              ngbDatepicker
              placeholder="Date of birth"
              #d2="ngbDatepicker"
              
            />
            <button class="btn btn-outline-primary bi bi-calendar3" (click)="d2.toggle()" type="button"></button>
          </div>
        </div>
      </div>
      <hr>
  
    <div class="row">
      <div class="col-md-6">
        <button class="btn btn-primary" type="submit" >Submit form</button>
      </div>
    </div>
  </div>
